<footer>
  <nav class="navbar fixed-bottom bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a> @ Kätlin Kalde / SDA
    </div>
  </nav>


    <!--nav class="navbar bg-body-tertiary">


            <div class="p-2">@Kätlin Kalde / SDA </div>


  </nav-->
</footer>

