<div *ngIf="student" class="card text-bg-light mb-3 form-group" style="width:30rem">
    <h1 class="card-header">Student editing form</h1>
    <div class="card-body">
        <div class="card-text text-danger">Editing: {{student.id}}. {{student.name}} {{student.lastname}}</div><br>
        <div class="mb-3">
            <label for="name">Name: </label><br>
            <input type="text" class="form-control" id="name" [(ngModel)]="student.name"><!--FormsModule needs to be imported in app.module.ts-->
        </div>
        <div class="mb-3">
            <label for="name">Last name: </label><br>
            <input type="text" class="form-control" id="lastname" [(ngModel)]="student.lastname"><!--FormsModule needs to be imported in app.module.ts-->
        </div>
        <div class="mb-3">
            <label for="username">Username: </label><br>
            <input type="text" class="form-control" id="username" [(ngModel)]="student.username">
        </div>
        <div class="mb-3">
            <label for="email">E-mail address: &nbsp;</label><br>
            <input type="text" class="form-control" id="email" [(ngModel)]="student.email">
        </div>
        <div class="mb-3">
            <button (click)="goBack()" class="btn btn-secondary">Cancel</button>
            &nbsp;
            <button (click)="onSave()" class="btn btn-success">Save</button>
        </div>
    </div>
</div>