<h1>Demo of cards query</h1>
<p>
    Please wait a second...
</p>
<p>
    This is a demo page of a REST API GET query
</p>
<p>
    which returns 5000 demo photo thumbnails
    from
</p>
<p>
    <a href="https://jsonplaceholder.typicode.com/" target="_blank">JSON PLACEHOLDER TYPICODE PAGE</a>

</p>
<app-tilecard *ngFor="let card of cards" [card]="card">
</app-tilecard>