h1{
  margin-bottom:2rem;
}

th, td {
    padding-left: 1em;
    padding-right: 1em;
    word-wrap: break-word;
  }
table{
    margin-top:1rem;
    word-wrap: break-word;
    display: inline-block;
}
body{
  word-wrap: break-word;
}