<h1>Students editing form demo</h1>
<div class="card bg-light shadow p-3 mb-5 bg-body-tertiary rounded">
    <div class="card-body">
        For demo purpose students are fetched from
        <a href="https://jsonplaceholder.typicode.com/users" target="_blank">JSON placeholder
        </a>
        page, so you cannot edit Students data on this page.
        <br>
        If you run this Angular page in your local computer, for editing students' data:
        <ul>
            <li> install fake <a href="https://github.com/typicode/json-server" target="_blank">JSON SERVER</a></li>
            <li>
                replace the jsonplaceholder URL in /services/student.service.ts with http://localhost:3000
            </li>
        </ul>
        Responsive design not yet implemented.
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr class="table-striped">
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Lastname
                </th>
                <th>
                    Username
                </th>
                <th>
                    E-mail
                </th>
                <th>
                    Edit
                </th>
                <th>
                    Delete
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let student of students" class="table-striped">
                <td>
                    {{student.id}}
                </td>
                <td>
                    {{student.name}}
                </td>
                <td>
                    {{student.lastname}}
                </td>
                <td>
                    {{student.username}}
                </td>
                <td>
                    {{student.email}}
                </td>
                <td>
                    <a class="btn btn-success" routerLink="/edit/{{student.id}}">Edit</a>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="onDelete(student);">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>


<form #studentForm="ngForm" class="card mb-3">
    <h3 class="card-header mb-3">
        Students addition form
    </h3>
    <div class="mb-3">
        <div class="card-body">
            <div class="mb-3">
                <label for="name">
                    First name:
                </label>
                <br>
                <input type="text" name="name" id="name" class="form-control" #name ngModel required>
                <p [hidden]="(studentForm.valid ||
                          studentForm.untouched||
                          studentForm.value.name !='')" class="alert alert-danger">
                    Student firstname field cannot be empty!
                </p>
            </div>
            <div class="mb-3">
                <label for="name">
                    Lastname:
                </label>
                <br>
                <input type="text" name="lastname" id="lastname" class="form-control" #lastname ngModel>
            </div>

            <div class="mb-3">
                <label for="username">
                    Username:
                </label>
                <br>
                <input type="text" name="username" id="username" class="form-control" #username ngModel>
            </div>

            <div class="mb-3">
                <label for="email">
                    E-mail:
                </label>
                <br>
                <input type="email" name="email" id="email" class="form-control" #e_mail ngModel #email="ngModel"
                    required email>
                <div class="error" *ngIf="email.touched">
                    <p *ngIf="email.errors?.['required']" class="alert alert-danger">Email is required</p>
                    <p *ngIf="email.errors?.['email']" class="alert alert-danger">Not a valid e-mail</p>
                </div>
            </div>
            <div class="form-group mb-3">
                <button class="btn btn-success"
                    (click)="onAdd(name.value, lastname.value, email.value, username.value); name.value=''; username.value=''; lastname.value=''; e_mail.value=''"
                    [disabled]="studentForm.invalid">
                    Add student
                </button>
            </div>
        </div>
    </div>
</form>

<div>
    <vg-player class="vg-player-centered">

        <vg-buffering></vg-buffering>

        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>
            <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
            <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
            <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
            <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute>
            <vg-volume></vg-volume>
            <vg-fullscreen></vg-fullscreen>
        </vg-controls>
        <video [vgMedia]="$any(media)" #media id="singleVideo" preload="auto" controls>
            <source src="assets/angularvideo3.mp4" type="video/mp4">
        </video>
    </vg-player>
</div>