
<div class="card mb-3 card-custom">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="card.thumbnailUrl" class="object-fit-contain img-fluid rounded" alt="Lipari">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{card.title}}</h4>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. </p>
          <p class="card-text"><small class="text-body-secondary">{{dateAndTime}}</small></p>
        </div>
      </div>
    </div>
  </div>

 