h1{
    padding-bottom: 1.5rem;
}
li.nav-item.active > a {
    font-weight: bold;
}

.nav-item > a{
    display:flex;
    justify-content: center;
    border-radius: 25px;
    color: brown;
}
li.nav-item > a:hover {
    color:black;
}





