<div class="flex container-centered">
    <h1>Angular</h1>
    <nav class="nav flex-column nav-centered">
        <ul class="navbar-nav">
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link active" aria-current="page" [routerLink]="['/home']">Home</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/about']">About</a>
            </li>
            <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" [routerLink]="['/contacts']">Contacts</a>
            </li>
        </ul>
    </nav>
</div>
