<div class="container-centered">
    <h1>404</h1>

    <p>File not found</p>
    <p>The site configured at this address does not contain the requested file.</p>
    <p>Please try some other address.</p>

</div>