/* You can add global styles to this file, and also import other style files */


body {
    min-height: 100vh;

}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:2rem;
    padding-bottom:2rem;
    flex-flow: row wrap;
}

.container-centered{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    padding-top:2rem;
}
.card-custom{
    padding:0.5em;
    max-width: 30rem;
}

#singleVideo{
    min-width: 300px;
    max-width: 600px;
}
.vg-player-centered{
    margin-top:2rem;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}


